# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/vendor/
backend/runtime/
backend/web/assets/

# Variables de entorno
.env
.env.*
!.env.example

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp